body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.hero-image {
    background-image: url('/images/login6.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-image p {
    font-size: 1.2rem;
    margin: 0 0 1.5rem 0;
}

.hero-image button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: background-color 0.3s;
    width:130px;
}

.hero-image button:hover {
    background-color: white;
}

.logo{
    margin-top: 100px;
    margin-left: 50px;
}

.form-container{
    margin-top: -50px;
}

.form-heading{
    margin-left: 650px;
    margin-top: -200px;
    font-weight: bold;
    color:#001F3F;
}

.form-para{
    margin-left:580px ;
}

.email-label{
    margin-left: 550px;
}

.email-input{
    margin-left: 550px;
    margin-top: -10px;
    height:25px;
}

.label1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    margin-left: 600px;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    margin-left: 600px;
}

.input-container input[type="email"] {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 40px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: 600px;
}

.input-container input[type="email"]::placeholder {
    color: #aaa;
}

.submit-button {
    display: inline-block;
    width: 160px;
    max-width: 400px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 1rem; 
    margin-left: 725px;
}

.submit-button:hover {
    background-color: green;
}

.submit-button:active {
    background-color: green;
}

.green-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    height:200px;
    margin-top: 140px;
    background-color: green;
    margin-left: 1510px;
    margin-top: -100px;
}


